:root {
    --animate-duration: 0.3s;
  }

* {
    font-family: 'Orbitron', sans-serif;
    color: #E6FFFF;
}

html body {
    background-color: #0C142F;
    overscroll-behavior: contain;
}
h2 {
    font-size: 80px;
    line-height: 0;
}

#game-title{
    position: relative;
    transform: translate(0,150px);
    z-index: 9;
    opacity: 0.8;

}

.game-select {
    position: relative;
    transform: translate(0,190px);
    z-index:9;
    /* justify-content: space-between; */
}

.selection{
    opacity: 0.7;
}

.selection:hover {
    top: -2px;
    color: E6FFFF;
    opacity: 1;
    text-decoration: underline;
    /* border: 1px solid black; */
}

.selection button {
    all:unset;
}

#countdown-display, #respawn-countdown, #kill-animation {
    position: relative;
    transform: translate(0,190px);
    z-index: 9;
    text-align: center;
    line-height: 0;
    border: 0;
    /* opacity:0.8; */
    --animate-duration: 2s;

}

#kill-animation {
    position: relative;
    transform: translate(0,200px);
}

.instructions-display{
    height:0;
}

#instructions {
    position: relative;
    transform: translate(0,210px);
    z-index: 9;
    line-height: 0;
    text-align: center;
    border: 0;
    opacity: 0.8;
}

#score-board {
    visibility: hidden;
}

#game-board {
    border: 5px solid #E6FFFF;
    background-color: #335584;
}

.fade-in{
    animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

.fade-out{
    color: #E6FFFF;
    /* color: blue; */
    opacity:0.0;
    animation: fadeOut ease-in 1s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
    }

.game-row {
    /* margin: 0px auto; */
    line-height: 0px;
    /* overflow: visible; */
    white-space: nowrap;
    text-align: center;
}

.game-square {
    width: 10px;
    height: 10px;
    display: inline-block;
    /* border: 1px solid rgba(1,1,1,0.1); */
    line-height: 0;
    background-color: transparent;
}


